html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF UI Display', sans-serif;
}

html {
  scroll-behavior: smooth;
  background: #2E1D5F;
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
  width: 100%;
  // overflow: hidden;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sanofi-logo {
  position: absolute;
  bottom: 3.5vh;
  width: 19vh;
  min-width: 9rem;
}

.menu-button {
  position: absolute;
  bottom: max(3.5vh);
  width: min(5vw,2.3rem);
  opacity: 0.3;
  left: 4vw;
  cursor: pointer;

  &.settings {
    left: max(9vw,5.5rem);
    width: min(4.5vw,2.2rem);
  }
}

.init-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  .rep-setup {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-weight: 400;
      font-size: 1.7rem;
      margin-bottom: 3rem;
    }

    .rep-submit {
      -webkit-appearance: none;
    }

    .rep-input {
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 2rem;
      line-height: 3rem;
      width: 50%;
      font-size: 1.1rem;
      padding: 0 1rem;
      text-align: center;
      color: #605d5d;
      margin-bottom: 1rem;
      -webkit-appearance: none;

      &::placeholder {
        color: #b6b2b2;
      }

      &:focus {
        box-shadow: 0 0 0 1.5pt #5A37BC;
        outline: none;
      }

    }

    .error-message {
      color: #f44336;
      font-size: 0.7rem;
      margin: -0.2rem 0 0.5rem;
      text-align: center;
    }
  }

  .init-form {
    max-width: 30rem;
    width: 90%;
    background-image: url('../public/img/init_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5% 2rem;
    border-radius: 1.5rem;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.13));
    margin-top: -3vw;

    .quiz-logo {
      width: 40%;
      min-width: 150px;
    }

    .input-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
      margin: 10rem 0 3rem;

      input {
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2rem;
        line-height: 3rem;
        width: 100%;
        font-size: 1.1rem;
        padding: 0 1rem;
        text-align: center;
        color: #605d5d;
        -webkit-appearance: none;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &::placeholder {
          color: #b6b2b2;
        }

        &:focus {
          box-shadow: 0 0 0 1.5pt #5A37BC;
          outline: none;
        }

      }

      .error-message {
        color: #f44336;
        font-size: 0.7rem;
        margin: -0.2rem 0 0.5rem;
        text-align: center;
      }
    }

    .submit-button {
      background: #5A37BC;
      border-radius: 28px;
      line-height: 3.5rem;
      padding: 0 3rem;
      border: none;
      color: #fff;
      width: 70%;
      min-width: 15rem;
      font-weight: 900;
      position: relative;
      font-size: 1.2rem;

      &::after {
        content: '';
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        background: url('../public/img/arrow.svg');
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .hud {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3rem 0 10vh;
    font-weight: 700;
    font-size: 2.3rem;

    .hud-item {
      display: flex;
      align-items: center;

      img {
        width: 2.5rem;
        margin-right: 0.8rem;
      }

      &.name-group {
        img {
          width: 2.3rem;
        }
      }

      &.time-group {
        font-feature-settings: 'tnum';
        font-variant-numeric: tabular-nums;
      }
    }
  }

  .sanofi-logo {
    width: 28vh;
  }

  .react-quiz-container {
    max-width: 670px;
    width: 80%;

    & > div:nth-child(1) {
      h2 {
        font-size: 2.5rem;
      }

      & > div {
        &:nth-child(2n) {
          font-size: 2rem;
          margin-bottom: 7rem;
        }

        &:nth-child(2n + 1) {
          font-size: 1rem;
          margin-bottom: 3rem;
        }
      }
    }

    .startQuizBtn {
      align-self: center;
      width: 40%;
      background: #5A37BC;
      border-radius: 28px;
      line-height: 3.5rem;
      padding: 0 3rem;
      border: none;
      color: #fff;
      width: 20%;
      min-width: 10rem;
      font-weight: 900;
      position: relative;
      font-size: 1.2rem;

      // &::after {
      //   content: '';
      //   position: absolute;
      //   right: 1rem;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   background-image: url('../public/img/arrow.svg');
      //   background-size: contain;
      //   width: 1.5rem;
      //   height: 1.5rem;
      //   background-repeat: no-repeat;
      // }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      h2 {

      }

      div {

      }

      .quiz-synopsis {

      }
    }

    .startQuizWrapper {

      .startQuizBtn {

      }
    }

    .btn {
    }

    .questionWrapper {

      .card-body {

        h2 {
          &:nth-child(1) {
            font-weight: 400;
            font-size: 2rem;
          }

          &:nth-child(2) {
            font-weight: 400;
            font-size: 3.5rem;
          }
        }

        .quiz-result-filter, .result-answer-wrapper {
          display: none;
        }
      }

      .questionWrapperBody {
        position: relative;

        h3 {
          margin: 0 0 3rem;

          p {
            font-size: 2.5rem;
            font-weight: 400;
            text-align: left;
            margin: 0;
          }
        }

        .questionModal + div {
          position: absolute;
          top: 0.5rem;
          left: -4vw;
          overflow-x: hidden;
          font-size: 2.5vw;
          z-index: -1;

          // &::before {
          //   content: '';
          //   background-image: url('../public/img/arrow.svg');
          //   background-size: cover;
          //   background-repeat: no-repeat;
          //   width: 4rem;
          //   height: 4rem;
          //   background-position: center;
          //   position: absolute;
          //   overflow-x: visible;
          //   z-index: 1;
          //   border: 1px solid #fff;
          // }
        }

        .tag-container {
          display: none;
        }

        $letters: ('A', 'B', 'C', 'D');

        @mixin content {
          @for $i from 1 through 4 {
            &:not(.nextQuestionBtn):nth-child(4n + #{$i})::before {
              position: absolute;
              left: 0.4rem;
              top: 50%;
              transform: translateY(-50%);
              width: 2rem;
              height: 2rem;
              background: #fff;
              position: absolute;
              background: rgba(255, 255, 255, 0.33);
              border: 1px solid #2E1D5F;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;

              content: nth($letters, $i);
            }
          }
        }

        .btn {
          width: 75%;
          background: rgba(255, 255, 255, 0.6);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0.3rem;
          border: none;
          text-align: left;
          padding: 0.65rem 0.65rem 0.65rem 3.5rem;
          font-size: 1.32rem;
          font-weight: normal;
          color: #252424;
          position: relative;
          @include content;

          &:not(:last-child) {
            margin-bottom: 0.4rem;
          }

          &:focus {
            outline: none;
          }

          @keyframes blink {
            50% {
                opacity: 0.3;
            }
          }

          &.answerBtn {
            width: 100%;
            transition-duration: 0.1s;
            transition-property: background-color, color, border-color, opacity, box-shadow;
            transition-timing-function: ease-out;

            &:focus {

            }

            &.correct {
              background: green;
              color: white;
              animation: 0.2s ease 0s 2 normal none running blink;
            }

            &.incorrect {
              background: red;
              color: white;
              animation: 0.2s ease 0s 2 normal none running blink;
            }

            &:disabled {
              background: rgba(255, 255, 255, 0.3);
            }
          }
        }

        .nextQuestionBtn {
          background: #5A37BC;
          border-radius: 28px;
          line-height: 3rem;
          padding: 0 3rem;
          border: none;
          color: #fff;
          width: 20%;
          min-width: 10rem;
          font-weight: 900;
          position: relative;
          font-size: 1.2rem;
          margin-top: 1rem;

          &::after {
            content: '';
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            background: url('../public/img/arrow.svg');
            background-size: contain;
            width: 1.5rem;
            height: 1.5rem;
            background-repeat: no-repeat;
          }
        }
      }
    }

    img {
    }

    .questionModal .alert {
    }

    .result-answer-wrapper {
      margin-bottom: 20px;
      border: 1px solid #e8e8e8;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      h3 {
          background-color: #fafafa;;
          opacity: 0.8;
          color: rgba(0,0,0,0.9);
          margin: 0px;
          padding: 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
      }

      .explanation {
        padding: 20px;
        margin: 0px 20px 20px 20px;
        border: 1px solid #e8e8e8;
      }

      .tag-container {
        margin: 20px;
      }
    }

    .result-answer {
      padding: 0px 20px;
    }

    .quiz-synopsis {
      margin: 15px 0px;
    }

    .quiz-result-filter {
       overflow: hidden;
       width: 120px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;
       background-color: #fefefe;
       margin-bottom: 10px;
       border: 1px solid #e8e8e8;

       select {
          background: transparent;
          border: none;
          font-size: 16px;
          padding: 5px;
          width: 100%;
          height: 30px;
          border: 1px solid #ffffff;
       }
    }

    .tag-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .selection-tag,
    .react-quiz-container .number-of-selection{
      padding: 7px;
      border-radius: 5px;
      color: #ffffff;
    }

    .number-of-selection {
      background: #673AB7;
      margin-left: 5px;
    }

    .selection-tag.single {
      background: #3F51B5;
    }

    .selection-tag.multiple {
      background: #FF9800;
    }

    .selection-tag.segment {
      background: #3db4b9;
      margin-left: 5px;
    }
  }

  .game-end-buttons {
    display: flex;
    width: 27rem;
    justify-content: space-between;
  }

}

.action-btn, {
  background: #5A37BC;
  border-radius: 28px;
  line-height: 3.5rem;
  padding: 0 2rem;
  border: none;
  color: #fff;
  font-weight: 900;
  position: relative;
  font-size: 1.2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;

  img {
    margin-right: 1rem;
    width: 1.3rem;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   right: 1rem;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   // background-image: url('../public/img/arrow.svg');
  //   background-size: contain;
  //   width: 1.5rem;
  //   height: 1.5rem;
  //   background-repeat: no-repeat;
  // }
}

.leaderboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;

  .header {
    display: flex;
    align-items: flex-end;
    margin: 2.5rem auto 3rem;

    img {
      width: 2.5rem;
      margin-right: 1.5rem;
    }

    h1 {
      margin: 0;
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 1;
    }
  }

  .leaderboard-table {
    max-width: 600px;
    width: 90%;

    .leaderboard-row {
      background: rgba(90, 55, 188, 0.29);
      border-radius: 39px;
      line-height: min(5.7vh, 2.7rem);
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      width: 100%;
      font-size: 1.2rem;

      &.new {
        background: rgb(90 55 188 / 93%);
        animation: 0.25s ease 0s 6 normal none running blink;
      }

      &:not(last-child) {
        margin-bottom: 0.8vh;
      }

      span {
        display: block;

        &.serial {
          width: 7%;
        }

        &.name {
          width: 63%;
          white-space: nowrap;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        &.points {
          width: 15%;
          text-align: center;
        }

        &.time {
          width: 15%;
          text-align: center;
        }
      }
    }
  }

  .spinner {
    width: 3rem;
    position: absolute;
    top: 40%;
    transition: translateY(-50%);
  }
}

.records-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;

  .header {
    display: flex;
    align-items: flex-end;
    margin: 2.5rem auto 2rem;

    img {
      width: 2.5rem;
      margin-right: 1.5rem;
    }

    h1 {
      margin: 0;
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 1;
    }
  }

  .spinner {
    width: 3rem;
    position: absolute;
    top: 40%;
    transition: translateY(-50%);
  }
}
