html,
body {
  padding: 0;
  margin: 0;
  font-family: "SF UI Display", sans-serif;
}

html {
  scroll-behavior: smooth;
  background: #2E1D5F;
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
  width: 100%;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sanofi-logo {
  position: absolute;
  bottom: 3.5vh;
  width: 19vh;
  min-width: 9rem;
}

.menu-button {
  position: absolute;
  bottom: max(3.5vh);
  width: min(5vw, 2.3rem);
  opacity: 0.3;
  left: 4vw;
  cursor: pointer;
}
.menu-button.settings {
  left: max(9vw, 5.5rem);
  width: min(4.5vw, 2.2rem);
}

.platform-check-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #2E1D5F;
}
.platform-check-container .platform-check {
  width: 90%;
  max-width: 600px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
.platform-check-container .platform-check .logo {
  position: fixed;
  bottom: 5vh;
  width: 12rem;
}
.platform-check-container .platform-check h3 {
  font-size: 2.2rem;
  font-weight: 300;
}
.platform-check-container .platform-check ol {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2rem;
  list-style-position: inside;
  padding: 0;
}
.platform-check-container .platform-check ol li {
  margin-bottom: 0.5rem;
}
.platform-check-container .platform-check ol li img {
  width: 1.6rem;
  margin-right: 0.3rem;
}

.init-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.init-page .rep-setup {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.init-page .rep-setup h3 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}
.init-page .rep-setup .rep-submit {
  -webkit-appearance: none;
}
.init-page .rep-setup .rep-input {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2rem;
  line-height: 3rem;
  width: 50%;
  font-size: 1.1rem;
  padding: 0 1rem;
  text-align: center;
  color: #605d5d;
  margin-bottom: 1rem;
  -webkit-appearance: none;
}
.init-page .rep-setup .rep-input::-webkit-input-placeholder {
  color: #b6b2b2;
}
.init-page .rep-setup .rep-input::-moz-placeholder {
  color: #b6b2b2;
}
.init-page .rep-setup .rep-input:-ms-input-placeholder {
  color: #b6b2b2;
}
.init-page .rep-setup .rep-input::-ms-input-placeholder {
  color: #b6b2b2;
}
.init-page .rep-setup .rep-input::placeholder {
  color: #b6b2b2;
}
.init-page .rep-setup .rep-input:focus {
  -webkit-box-shadow: 0 0 0 1.5pt #5A37BC;
          box-shadow: 0 0 0 1.5pt #5A37BC;
  outline: none;
}
.init-page .rep-setup .error-message {
  color: #f44336;
  font-size: 0.7rem;
  margin: -0.2rem 0 0.5rem;
  text-align: center;
}
.init-page .init-form {
  max-width: 30rem;
  width: 90%;
  background-image: url("../public/img/init_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 5% 2rem;
  border-radius: 1.5rem;
  -webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.13));
  margin-top: -3vw;
}
.init-page .init-form .quiz-logo {
  width: 40%;
  min-width: 150px;
}
.init-page .init-form .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin: 8.5rem 0 1rem;
}
.init-page .init-form .input-fields .text {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1.1rem;
  padding: 0 1rem;
  text-align: center;
  color: #605d5d;
  -webkit-appearance: none;
}
.init-page .init-form .input-fields .text:not(:last-child) {
  margin-bottom: 0.5rem;
}
.init-page .init-form .input-fields .text::-webkit-input-placeholder {
  color: #b6b2b2;
}
.init-page .init-form .input-fields .text::-moz-placeholder {
  color: #b6b2b2;
}
.init-page .init-form .input-fields .text:-ms-input-placeholder {
  color: #b6b2b2;
}
.init-page .init-form .input-fields .text::-ms-input-placeholder {
  color: #b6b2b2;
}
.init-page .init-form .input-fields .text::placeholder {
  color: #b6b2b2;
}
.init-page .init-form .input-fields .text:focus {
  -webkit-box-shadow: 0 0 0 1.5pt #5A37BC;
          box-shadow: 0 0 0 1.5pt #5A37BC;
  outline: none;
}
.init-page .init-form .input-fields .consent {
  color: #605d5d;
  font-weight: 300;
  margin-top: 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.init-page .init-form .input-fields .consent .consent-check {
  margin-right: 0.9rem;
  width: 1.9rem;
  height: 1.9rem;
}
.init-page .init-form .input-fields .error-message {
  color: #f44336;
  font-size: 0.7rem;
  margin: -0.2rem 0 0.5rem;
  text-align: center;
}
.init-page .init-form .submit-button {
  background: #5A37BC;
  border-radius: 28px;
  line-height: 3.5rem;
  padding: 0 3rem;
  border: none;
  color: #fff;
  width: 70%;
  min-width: 15rem;
  font-weight: 900;
  position: relative;
  font-size: 1.2rem;
}
.init-page .init-form .submit-button::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../public/img/arrow.svg");
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
}
.init-page .init-form .submit-button:focus {
  outline: none;
}

.game-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}
.game-page .hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 3rem 0 10vh;
  font-weight: 700;
  font-size: 2.3rem;
}
.game-page .hud .hud-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-page .hud .hud-item img {
  width: 2.5rem;
  margin-right: 0.8rem;
}
.game-page .hud .hud-item.name-group img {
  width: 2.3rem;
}
.game-page .hud .hud-item.time-group {
  -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.game-page .sanofi-logo {
  width: 28vh;
}
.game-page .react-quiz-container {
  max-width: 670px;
  width: 80%;
}
.game-page .react-quiz-container > div:nth-child(1) h2 {
  font-size: 3.5rem;
}
.game-page .react-quiz-container > div:nth-child(1) > div:nth-child(2n) {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.game-page .react-quiz-container > div:nth-child(1) > div:nth-child(2n+1) {
  font-size: 1rem;
  margin-bottom: 3rem;
}
.game-page .react-quiz-container .startQuizBtn {
  -ms-flex-item-align: center;
      align-self: center;
  width: 40%;
  background: #5A37BC;
  border-radius: 28px;
  line-height: 3.5rem;
  padding: 0 3rem;
  border: none;
  color: #fff;
  width: 20%;
  min-width: 10rem;
  font-weight: 900;
  position: relative;
  font-size: 1.2rem;
}
.game-page .react-quiz-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.game-page .react-quiz-container .questionWrapper .result {
  font-size: 5rem;
}
.game-page .react-quiz-container .questionWrapper .result .emoji {
  margin-bottom: 1rem;
}
.game-page .react-quiz-container .questionWrapper .result .emoji img {
  width: calc(6rem + 8vh);
  -webkit-filter: drop-shadow(5px 6px 4px rgba(32, 33, 36, 0.8));
          filter: drop-shadow(5px 6px 4px rgba(32, 33, 36, 0.8));
}
.game-page .react-quiz-container .questionWrapper .result .result-text {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.game-page .react-quiz-container .questionWrapper .card-body h2:nth-child(1) {
  font-weight: 400;
  font-size: 2rem;
}
.game-page .react-quiz-container .questionWrapper .card-body h2:nth-child(2) {
  font-weight: 400;
  font-size: 3.5rem;
}
.game-page .react-quiz-container .questionWrapper .card-body .quiz-result-filter, .game-page .react-quiz-container .questionWrapper .card-body .result-answer-wrapper {
  display: none;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody {
  position: relative;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody h3 {
  margin: 0 0 3rem;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody h3 p {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .questionModal + div {
  position: absolute;
  top: 0.5rem;
  left: -4vw;
  overflow-x: hidden;
  font-size: 2.5vw;
  z-index: -1;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .tag-container {
  display: none;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn {
  width: 75%;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  border: none;
  text-align: left;
  padding: 0.65rem 0.65rem 0.65rem 3.5rem;
  font-size: 1.32rem;
  font-weight: normal;
  color: #252424;
  position: relative;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn:not(.nextQuestionBtn):nth-child(4n+1)::before {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  background: rgba(255, 255, 255, 0.33);
  border: 1px solid #2E1D5F;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "A";
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn:not(.nextQuestionBtn):nth-child(4n+2)::before {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  background: rgba(255, 255, 255, 0.33);
  border: 1px solid #2E1D5F;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "B";
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn:not(.nextQuestionBtn):nth-child(4n+3)::before {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  background: rgba(255, 255, 255, 0.33);
  border: 1px solid #2E1D5F;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "C";
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn:not(.nextQuestionBtn):nth-child(4n+4)::before {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  background: rgba(255, 255, 255, 0.33);
  border: 1px solid #2E1D5F;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "D";
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn:not(:last-child) {
  margin-bottom: 0.4rem;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn:focus {
  outline: none;
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.3;
  }
}
@keyframes blink {
  50% {
    opacity: 0.3;
  }
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn.answerBtn {
  width: 100%;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: background-color, color, border-color, opacity, -webkit-box-shadow;
  transition-property: background-color, color, border-color, opacity, -webkit-box-shadow;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-property: background-color, color, border-color, opacity, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn.answerBtn.correct {
  background: green;
  color: white;
  -webkit-animation: 0.2s ease 0s 2 normal none running blink;
          animation: 0.2s ease 0s 2 normal none running blink;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn.answerBtn.incorrect {
  background: red;
  color: white;
  -webkit-animation: 0.2s ease 0s 2 normal none running blink;
          animation: 0.2s ease 0s 2 normal none running blink;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .btn.answerBtn:disabled {
  background: rgba(255, 255, 255, 0.3);
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .nextQuestionBtn {
  background: #5A37BC;
  border-radius: 28px;
  line-height: 3rem;
  padding: 0 3rem;
  border: none;
  color: #fff;
  width: 20%;
  min-width: 10rem;
  font-weight: 900;
  position: relative;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.game-page .react-quiz-container .questionWrapper .questionWrapperBody .nextQuestionBtn::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../public/img/arrow.svg");
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
}
.game-page .react-quiz-container .result-answer-wrapper {
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.game-page .react-quiz-container .result-answer-wrapper h3 {
  background-color: #fafafa;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.9);
  margin: 0px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.game-page .react-quiz-container .result-answer-wrapper .explanation {
  padding: 20px;
  margin: 0px 20px 20px 20px;
  border: 1px solid #e8e8e8;
}
.game-page .react-quiz-container .result-answer-wrapper .tag-container {
  margin: 20px;
}
.game-page .react-quiz-container .result-answer {
  padding: 0px 20px;
}
.game-page .react-quiz-container .quiz-synopsis {
  margin: 15px 0px;
}
.game-page .react-quiz-container .quiz-result-filter {
  overflow: hidden;
  width: 120px;
  border-radius: 5px;
  background-color: #fefefe;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
}
.game-page .react-quiz-container .quiz-result-filter select {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  height: 30px;
  border: 1px solid #ffffff;
}
.game-page .react-quiz-container .tag-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.game-page .react-quiz-container .selection-tag,
.game-page .react-quiz-container .react-quiz-container .number-of-selection {
  padding: 7px;
  border-radius: 5px;
  color: #ffffff;
}
.game-page .react-quiz-container .number-of-selection {
  background: #673AB7;
  margin-left: 5px;
}
.game-page .react-quiz-container .selection-tag.single {
  background: #3F51B5;
}
.game-page .react-quiz-container .selection-tag.multiple {
  background: #FF9800;
}
.game-page .react-quiz-container .selection-tag.segment {
  background: #3db4b9;
  margin-left: 5px;
}
.game-page .game-end-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action-btn {
  background: #5A37BC;
  border-radius: 28px;
  line-height: 3.5rem;
  padding: 0 2rem;
  border: none;
  color: #fff;
  font-weight: 900;
  position: relative;
  font-size: 1.2rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.action-btn img {
  margin-right: 1rem;
  width: 1.3rem;
}

.leaderboard-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.leaderboard-page .no-records {
  position: absolute;
  top: 40%;
  font-size: 1.5rem;
}
.leaderboard-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 2.5rem auto 3rem;
}
.leaderboard-page .header img {
  width: 2.5rem;
  margin-right: 1.5rem;
}
.leaderboard-page .header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
}
.leaderboard-page .leaderboard-table {
  max-width: 600px;
  width: 90%;
}
.leaderboard-page .leaderboard-table .leaderboard-row {
  background: rgba(90, 55, 188, 0.29);
  border-radius: 39px;
  line-height: min(5.7vh, 2.7rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
  font-size: 1.18rem;
}
.leaderboard-page .leaderboard-table .leaderboard-row.new {
  background: rgba(90, 55, 188, 0.93);
  -webkit-animation: 0.25s ease 0s 4 normal none running blink;
          animation: 0.25s ease 0s 4 normal none running blink;
}
.leaderboard-page .leaderboard-table .leaderboard-row:not(last-child) {
  margin-bottom: 0.8vh;
}
.leaderboard-page .leaderboard-table .leaderboard-row span {
  display: block;
}
.leaderboard-page .leaderboard-table .leaderboard-row span.serial {
  width: 7%;
}
.leaderboard-page .leaderboard-table .leaderboard-row span.name {
  width: 63%;
  white-space: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.leaderboard-page .leaderboard-table .leaderboard-row span.points {
  width: 15%;
  text-align: center;
}
.leaderboard-page .leaderboard-table .leaderboard-row span.time {
  width: 15%;
  text-align: center;
}
.leaderboard-page .spinner {
  width: 3rem;
  position: absolute;
  top: 40%;
  -webkit-transition: translateY(-50%);
  transition: translateY(-50%);
}

.records-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.records-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 2.5rem auto 2rem;
}
.records-page .header img {
  width: 2.5rem;
  margin-right: 1.5rem;
}
.records-page .header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
}
.records-page .spinner {
  width: 3rem;
  position: absolute;
  top: 40%;
  -webkit-transition: translateY(-50%);
  transition: translateY(-50%);
}
/*# sourceMappingURL=globals.css.map */